<!DOCTYPE html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <img src='img/mattise_whitebg.png'>
        </br>
        </br>
        </br>
        <p>Login with:</p>
        <a href="/auth/facebook"><img src="img/facebook.png"></a>
        <a href="/auth/google"><img src="img/google.png"></a></a>
        <a href="/auth/github"><img src="img/github.png"></a></a>
        <a href="/auth/linkedin"><img src="img/linkedin.png"></a></a>
        <a href="/auth/twitter"><img src="img/twitter.png"></a>
    </div>
    <div class="text-center">
        <p>A demo by <a href="https://plus.google.com/+LingamNarendraReddy">Lingam Narendra Reddy</a>.</p>
    </div>

</div>
</body>
</html>